<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Certificate Name</th>
          <th scope="col">Group</th>
          <th scope="col">Issued Date</th>
          <th scope="col">Expiry Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let List of InformationList">
          <td>{{List.Certificate_Name}}</td>
          <td>{{List.Group}}</td>
          <td>{{List.Issued_date}}</td>
          <td>{{List.Expiry_date}}</td>
          <td>{{List.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
